 .hireus{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    // margin-bottom: rem(120);
    padding: 0 rem(20);
    width: 100%;

    h1 {
        font-size: rem(64);
        // margin: 0;
    }
    h2 {
        font-size: rem(32);
        margin: 0;

    }
    span{
        // font-size: rem(50);
        // font-weight: 700;
        display: none;
    }
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: rem(50) 0;
    }
    &__number{
        margin-right: rem(20);
        img{
            width: 60px;
        }
    }
}
