html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #c00707;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background: #fafafa;
  color: #00001a;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 63.75rem;
  width: 100%;
  position: relative;
}
main .bg-lines {
  position: absolute;
  width: 1027px;
  height: 100%;
  background-image: url("../img/bg-lines-x.svg");
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: -1;
}
main .bg-bigx {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  background-image: url(../img/bg-bigx.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0vw 100vh;
  z-index: -2;
  max-width: 1480px;
}

.flex {
  display: flex;
}
.flex-fc-c {
  align-items: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-fg-gr {
  flex-grow: 1;
}
.flex-al-vc {
  align-items: center;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgba(250, 250, 250, 0.5);
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #c00707;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 4px;
}
.header__lang {
  color: inherit;
  margin-right: 20px;
}
.header__menu-content {
  color: #fafafa;
  background-color: #00001a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.header__menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}
.header__menu-items li {
  list-style-type: none;
  font-size: 5rem;
}
.header__menu-social {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0 30%;
}
.header__menu-social li {
  list-style: none;
  list-style-position: inside;
  display: flex;
  align-items: center;
}
.header__menu-social svg {
  margin-right: 10px;
}

nav {
  height: 100%;
}
nav .logo {
  height: 100%;
}
nav .logo img {
  height: 50%;
}

footer {
  width: 100vw;
  background-color: #c00707;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  color: #fafafa;
  font-size: 0.875rem;
}
footer a:hover {
  color: #fafafa;
  opacity: 0.5;
}
footer .footer__center ul {
  list-style: none;
  display: flex;
}
footer .footer__center ul li {
  padding: 0 0.625rem;
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  max-height: 100vh;
  min-height: 70vh;
  margin-bottom: 6.25rem;
}
.slider__textbox {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  order: 1;
  padding-left: 1.25rem;
}
.slider__textbox h1 {
  font-size: 4.6875rem;
  margin: 0;
}
.slider__textbox h2 {
  font-size: 4.6875rem;
  font-weight: 400;
  margin: 0;
}
.slider__textbox p {
  max-width: 50%;
}
.slider__textbox button {
  border: none;
  background-color: #c00707;
  padding: 0.625rem 1.5625rem;
  color: #fafafa;
  text-transform: uppercase;
}
.slider__image {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7.5rem;
  padding: 0 1.25rem;
}
.service h1 {
  font-size: 4rem;
  margin: 0;
}
.service h2 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}
.service p {
  width: 85%;
}
.service__textbox {
  order: 2;
}
.service__image img {
  width: 100%;
}
.service__image, .service__textbox {
  width: 49%;
}
.service__seemore {
  display: flex;
  align-items: center;
}
.service__seemore span {
  text-transform: uppercase;
  color: #c00707;
  margin-right: 15px;
}
.service__right .service__textbox {
  order: 0;
  margin-left: 0;
}

.hireus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
  width: 100%;
}
.hireus h1 {
  font-size: 4rem;
}
.hireus h2 {
  font-size: 2rem;
  margin: 0;
}
.hireus span {
  display: none;
}
.hireus__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3.125rem 0;
}
.hireus__number {
  margin-right: 1.25rem;
}
.hireus__number img {
  width: 60px;
}

.quotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.quotes__container {
  width: 100%;
  overflow: hidden;
  margin: 3.125rem 0;
}
.quotes__scroll {
  display: flex;
  position: relative;
}
.quotes__item {
  width: 100%;
  padding: 0 13.75rem;
}
.quotes__text p {
  margin-top: 0;
}
.quotes__text::before {
  content: url(../img/quotes.svg);
  width: 50px;
  height: 50px;
  display: block;
  margin-left: -70px;
}
.quotes h1 {
  font-size: 4rem;
}
.quotes h2 {
  font-size: 2rem;
  margin: 0;
}
.quotes__nav {
  z-index: 1;
}
.quotes__left, .quotes__right {
  position: absolute;
  top: 50%;
}
.quotes__left svg:hover, .quotes__right svg:hover {
  fill: red;
}
.quotes__left {
  left: 0;
}
.quotes__right {
  right: 0;
  transform: scaleX(-1);
}
.quotes__text {
  position: relative;
  font-size: 1.875rem;
}

b {
  color: #c00707;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: 3.4375rem;
  margin-bottom: 0.1875rem;
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=styles.css.map */